:root{
    --element-border-color:#F55353;
    --score-container-border-color:#143F6B;
}

body{
    font-family: sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.heading{
    width: 100%;
    font-size: 36px;
    text-align: center;
}

#app{
    width: 100%;
    margin-top: 50px;
}

#elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.element{
    padding: 30px;
    border: 2px solid var(--element-border-color);
    border-radius: 10px;
    cursor: pointer;
}

.element *{
    pointer-events: none;
}

.element img{
    width: 100px;
    /* pointer-events: none; */
}

.element p{
    text-align: center;
    /* pointer-events: none; */
}

.element:hover{
    box-shadow:  -1px 1px var(--element-border-color),
         -2px 2px var(--element-border-color),
         -3px 3px var(--element-border-color),
         -4px 4px var(--element-border-color),
         -5px 5px var(--element-border-color);
}

#score_container{
    /* margin-top: 100px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid var(--score-container-border-color);
    padding: 30px;
    border-radius: 20px;
}

#score_container span{
    font-size: 50px;
    margin:0 20px;
}

#score_container img{
    width: 70px;
}

#info img{
    width: 100px;
    height: 100px;
}

#human_image p{
    text-align: center;
}

#computer_image p{
    text-align: center;
}


#info{
    margin: 100px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
}

#infovs {
    color: darkorchid;
    font-weight: bold;
    font-size: 48px;
}

#wintext {
    color: darkorange;
    font-weight: 800;
}

.midinfo {
    width: 95px;
}